@impport font-awesome-4.7.0/css/font-awesone.css

@impport font-awesome-4.7.0/css/font-awesone.min.css

.with-border{
    border-color: #e1e3e8 ;
    border-style: solid ;
    border-width: 1px ;
}

.no-border{
    border-width: 0px ;
    width: 100%;
}

table.landing {
    border: medium none;
    box-shadow: none;
    margin-top: 50px;
    margin-bottom: 50px;

.icon {

	font: FontAwesome;
}

.animation {
    
}

.scroll-table {
   width: 100%;
   overflow-x: scroll;
}

.large-table {
   table-layout: auto;
   white-space: nowrap;
   width: 100%;
}

div.relations {
	display: inline;
}